.task {
  margin-bottom: 0.4rem;
  padding: 1rem;
  border-radius: 0.3rem;
  list-style-type: none;
  transition: 0.15s ease-out;
  background: #ffffff;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  &--urgent {
    position: relative;

    &:after {
      content: 'URGENT';
      position: absolute;
      top: 0;
      left: 0;
      transform-origin: center;
      color: rgba(255, 0, 0, 0.5);
      font-size: 1rem;
      margin: 0;
      font-weight: 600;
      padding: 0;
    }
  }

  &--complete {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
