.task {
  margin-bottom: 0.4rem;
  padding: 1rem;
  border-radius: 0.3rem;
  list-style-type: none;
  transition: 0.15s ease-out;
  background: #d7ffd7;
}

.task--urgent {
  position: relative;
}

.task--urgent::after {
  content: 'URGENT';
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  transform-origin: center;
  color: rgba(255, 0, 0, 0.2);
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  padding: 0;
}
